.padre {
  border: 5px solid green;
  margin-bottom: 50px;
}

.padre > * {
  border: 5px solid black;
  padding: 10px;
  /* Prueba a comentar y descomentar estas propiedades para ver el comportamiento */
  /* width: 50%; */
  /* min-width: 50%; */
  /* max-width: 50%; */
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}
